/config/parameters.*.yaml
/build/
/intra/
/src/Rotalia/FrontendBundle/Resources/source/bower_components/
/src/Rotalia/FrontendBundle/Resources/source/build/
/composer.phar

# Database dumps - these contain real member data, never commit them
*.sql
.idea/
.directory
.DS_Store

node_modules/

###> Project PhpUnit ###
tests/coverage/*
###< Project PhpUnit ###

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
